.constructorBlock {
    max-width: 600px;
    width: 100%;
    gap: 10px;
}

.constructor {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.scrollBlock {
    width: 100%;
    height: 480px;
    overflow: hidden;
    overflow-y: scroll;
}

.scrollBlock::-webkit-scrollbar-thumb {
    background-color: #8585AD;

}

.scrollBlock::-webkit-scrollbar {
    width: 8px;
}

.scrollBlock::-webkit-scrollbar-track {
    background: #2F2F37;
}

.scrollBlock div:not(:last-child) {
    margin-bottom: 16px;
}

.price {
    display: flex;
    align-items: center;
}

.price svg {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 8px;
    margin-right: 40px;
}

.priceBlock {
    display: flex;
    justify-content: end;
}

.element {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.locked {
    margin-right: 16px;
}

.elementWrapper {
    height: 80px;
    width: 90%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.borders {
    border: 4px dashed #f30ec167;
}

.bordersTopBuns {
    border-radius: 88px 88px 40px 40px;
}

.bordersBottomBuns {
    border-radius:  40px 40px 88px 88px;;
}

.emptyBuns {
    text-align: center;
    color: white;
    opacity: .1;
}

.constructorPlaceholder {
    display: flex;
    align-items: center;
}