.orderBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check {
    padding: 35px;
    background-size: contain;
    background-repeat: no-repeat;
}

.check svg {
    height: 48px;
    width: 48px;
}

.loadingText {
    font-size: 30px;
    text-align: center;
}