.order {
    width: 584px;
    min-height: 214px;
    border-radius: 40px;
    background: #1C1C21;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 0px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}

.orderHeader {
    display: flex;
    justify-content: space-between;
}

.orderFooter {
    height: 64px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.orderPrice {
    display: flex;
    align-items: center;
}

.orderImage {
    width: 160%;
    height: 100%;
    background-size: 50%;
    position: relative;
    left: -15px;
}

.orderImageWrapper {
    position: absolute;
    width: 56px;
    height: 56px;
    display: flex;
    overflow: hidden;
    border: 2px solid #9911c2;
    border-radius: 100%;
    background-color: #1C1C21;
}